<div class="team">
  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>

  <div class="team-box">
    <div class="t-photo"></div>
    <div class="t-details">
      VIRAT KOHLI <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mem-team">INDIA</div>
  </div>
</div>
