<footer class="text-center text-lg-start mt-auto">
  <div class="container pt-3">
    <div class="row footer">
      <div class="col-lg-4 col-md-12">
        <h5 class="text-uppercase">Coding Club MBU</h5>
        <div class="logos">
          <img src="/images/MBU.png" alt="" class="mbulogo" />
          <img src="/images/newlogo.png" alt="" class="mbulogo" />
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Teams</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h5 class="text-uppercase">Contact Us</h5>
        <a href="mail:codingclumbu@gmail.com"
          >mail us : codingclumbu@gmail.com</a
        ><br />
        <a href="tel:7013783977">Any Queries : 7013783977</a> <br />
        <a href="tel:6305820221">For Certificates : 6305820221</a><br />
        <a href="tel:7337334419">For Attendance : 7337334419</a><br />
        <a href="tel:9346438282">For Event : 9346438282</a><br />
        <a href="tel:9347259078">For Website updates : 9347259078</a>
      </div>
    </div>
  </div>

  <div class="text-center pb-3">
      Mohan Babu University, Sree Sainath Nagar, Tirupati, Andhra Pradesh
      517102 <br>
    © 2024 Coding Club MBU. All rights reserved.
  </div>
</footer>
