<div class="gallery">
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
  <div class="gallery-item">
    <img src="/images/g.jpg" alt="Gallery Image 1" />
  </div>
</div>
