<div class="container-fluid p-0 sticky-top">
  <!-- top navbar -->
  <nav class="navbar navbar-expand-lg bg-dark w-100 sticky-top p-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/images/newlogo.png"
          alt="CC"
          width="50"
          height="50"
          class="d-inline-block align-text-top"
        />
        Coding Club MBU
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="d-flex">
    <main class="col-lg-10 offset-lg-2 col-md-12" style="margin-left: 16.67%">
      <!-- Offcanvas for mobile screens -->
      <div
        class="offcanvas offcanvas-start d-lg-none phone-nav"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a class="navbar-brand" href="#">
              <img
                src="/images/logo-white.png"
                alt="CC"
                width="50"
                height="50"
                class="d-inline-block align-text-top"
              />
              Coding Club MBU
            </a>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="#">Faculty Head</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="#">Sub Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/core">Core Members</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/past">Past Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="#">Upcoming Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/resources">YouTube Playlists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/online">Online Websites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="/online">Practice Platforms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="#">Road Maps</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: bold">Gallery</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" style="font-weight: bold"
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
</div>
