<div class="t-box">
  <div class="ttext-l tBoxAnimate">
    <div class="t-text-l">
      <h3 class="website-name">W3 SCHOOL</h3>
      <div class="button-div">
        <a href="https://www.w3schools.com/" class="online-b">CLICK HERE</a>
      </div>
    </div>
  </div>
  <div class="timage-l tBoxAnimate">
    <div class="photo w3"></div>
  </div>
</div>

<br />
<br />
<br />

<div class="t-box r">
  <div class="ttext-r tBoxAnimate">
    <div class="t-text-r">
      <h3 class="website-name">W3 SCHOOL</h3>
    </div>

    <div class="button-div">
      <a href="https://www.w3schools.com/" class="online-b">CLICK HERE</a>
    </div>
  </div>
  <div class="timage-r tBoxAnimate">
    <div class="photo greek"></div>
  </div>
</div>

<br /><br /><br />

<div class="t-box">
  <div class="ttext-l tBoxAnimate">
    <div class="t-text-l">
      <h3 class="website-name">W3 SCHOOL</h3>
    </div>

    <div class="button-div">
      <a href="https://www.w3schools.com/" class="online-b">CLICK HERE</a>
    </div>
  </div>
  <div class="timage-l tBoxAnimate">
    <div class="photo javat"></div>
  </div>
</div>

<br /><br /><br />

<div class="t-box r">
  <div class="ttext-r tBoxAnimate">
    <div class="t-text-r">
      <h3 class="website-name">W3 SCHOOL</h3>
    </div>

    <div class="button-div">
      <a href="https://www.w3schools.com/" class="online-b">CLICK HERE</a>
    </div>
  </div>
  <div class="timage-r tBoxAnimate">
    <div class="photo greek"></div>
  </div>
</div>

<br /><br /><br />

<div class="t-box">
  <div class="ttext-l tBoxAnimate">
    <div class="t-text-l">
      <h3 class="website-name">W3 SCHOOL</h3>
    </div>

    <div class="button-div">
      <a href="https://www.w3schools.com/" class="online-b">CLICK HERE</a>
    </div>
  </div>
  <div class="timage-l tBoxAnimate">
    <div class="photo javat"></div>
  </div>
</div>
