<div class="event-main">
  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p1.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>CODE CLASH</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        The Code Clash Challenge is a two-stage competition testing technical
        skills. Round 1 has 30 MCQs, and top scorers advance to Round 2 to
        tackle DSA questions.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p2.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>PATTERN PARK</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Pattern Park is a two-round event focused on pattern recognition and
        creation. Round 1 challenges participants to identify patterns, while
        Round 2 requires them to build their own.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img
      src="/images/p3.jpg
    "
      class="rounded mx-auto d-block"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        <h4>26 OCT |</h4>
        &nbsp;<b><h4>DBMS DIVE</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Join our workshop to learn DBMS basics and practice MySQL, perfect for
        beginners and those looking to enhance their skills! Expect a fun
        atmosphere filled with laughter and valuable insights!
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p1.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>CODE CLASH</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        The Code Clash Challenge is a two-stage competition testing technical
        skills. Round 1 has 30 MCQs, and top scorers advance to Round 2 to
        tackle DSA questions.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p2.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>PATTERN PARK</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Pattern Park is a two-round event focused on pattern recognition and
        creation. Round 1 challenges participants to identify patterns, while
        Round 2 requires them to build their own.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img
      src="/images/p3.jpg
    "
      class="rounded mx-auto d-block"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        <h4>26 OCT |</h4>
        &nbsp;<b><h4>DBMS DIVE</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Join our workshop to learn DBMS basics and practice MySQL, perfect for
        beginners and those looking to enhance their skills! Expect a fun
        atmosphere filled with laughter and valuable insights!
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p1.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>CODE CLASH</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        The Code Clash Challenge is a two-stage competition testing technical
        skills. Round 1 has 30 MCQs, and top scorers advance to Round 2 to
        tackle DSA questions.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img src="/images/p2.jpg" class="rounded mx-auto d-block" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <h4>5 OCT |</h4>
        &nbsp;<b><h4>PATTERN PARK</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Pattern Park is a two-round event focused on pattern recognition and
        creation. Round 1 challenges participants to identify patterns, while
        Round 2 requires them to build their own.
      </p>
    </div>
  </div>

  <div class="card d-flex justify-content-center align-items-center">
    <img
      src="/images/p3.jpg
    "
      class="rounded mx-auto d-block"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">
        <h4>26 OCT |</h4>
        &nbsp;<b><h4>DBMS DIVE</h4></b>
      </h5>
      <br /><br />
      <p class="card-text">
        Join our workshop to learn DBMS basics and practice MySQL, perfect for
        beginners and those looking to enhance their skills! Expect a fun
        atmosphere filled with laughter and valuable insights!
      </p>
    </div>
  </div>
</div>
