<div class="container youtube">
  <div class="video-grid">
    <div class="video-item videoItemAnimation">
      <div class="video-title">OS English</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/H3vZRDkzHdo?si=Bm8VTkDGdy3q2c0X"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="video-item videoItemAnimation">
      <div class="video-title">Java Hindi</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yRpLlJmRo2w?si=B_IFtq_agpkEkbqJ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="video-item videoItemAnimation">
      <div class="video-title">Java English</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yRpLlJmRo2w?si=B_IFtq_agpkEkbqJ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="video-item videoItemAnimation">
      <div class="video-title">Sample Video 1</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yRpLlJmRo2w?si=B_IFtq_agpkEkbqJ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="video-item videoItemAnimation">
      <div class="video-title">Sample Video 1</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yRpLlJmRo2w?si=B_IFtq_agpkEkbqJ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="video-item videoItemAnimation">
      <div class="video-title">Sample Video 1</div>
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yRpLlJmRo2w?si=B_IFtq_agpkEkbqJ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
