<nav id="sideNav" class="col-lg-2 d-lg-block d-none">
  <ul class="nav flex-column p-3">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" style="font-weight: bold">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Faculty Head</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="/subteams">Sub Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Core Members</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" style="font-weight: bold">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="/past">Past Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Upcoming Events</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" style="font-weight: bold">Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="/resources">YouTube Playlists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Online Websites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Practice Platforms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ms-3" href="#">Road Maps</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" style="font-weight: bold">Gallery</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" style="font-weight: bold">Contact us</a>
    </li>
  </ul>
</nav>
